img { 
  width: auto;  
  display: flex;  
  position: relative; 
  padding-left: 600px; 
  padding-top: 80px;
} 
input{ 
  width: auto;  
  display: flex;
  padding-top: 80px; 
  padding-left: 600px;
}